@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@200&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Josefin+Sans&family=Karla:wght@200&family=Yeseva+One&display=swap");

body {
  margin: 0;
  font-family: "DM Serif Display", serif;
  font-size: 18px;

  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
